<div
  class="bg-newsletter bg-cover py-16 bg-center font-notoSerif flex flex-row px-20 gap-x-20 items-center">
  <div class="newsletter-content py-4 w-1/2">
    <div class="text-[52px]">Get latest news</div>
    <div class="text-[18px] text-gray-300">
      Subscribe to our newsletter and we’ll send you the emails of latest posts.
    </div>
  </div>
  <form
    class="bg-white flex flex-row gap-x-4 relative py-6 px-6 rounded-lg font-atkinson">
    <input
      class="rounded-lg px-5 py-5 h-[60px] w-[280px] border-2 focus:border-blue-800 outline-none"
      placeholder="Your email address" />
    <button
      class="bg-blue-800 px-9 py-5 rounded-lg text-white text-[16px] h-[60px]">
      Subscribe
    </button>
  </form>
</div>
