<header class="font-notoDisplay py-10 px-32">
  <div class="flex flex-row justify-between items-center">
    <div class="font-bold text-[32px]">The Vault</div>
    <nav class="flex items-center">
      <div class="centered-container">
        <ul
          class="flex flex-row justify-center font-semibold gap-x-20 text-[17px]">
          <a routerLink="/">Home</a>
          <a *ngIf="isLoggedIn()" routerLink="/create-post">Create Post</a>
          <a *ngIf="isLoggedIn()" routerLink="/my-posts">My Posts</a>
        </ul>
      </div>
    </nav>
    <div class="flex text-lg gap-x-3">
      <div>
        <ul
          tabindex="0"
          class="p-2 my-2 shadow bg-base-200 rounded-box w-40 font-atkinson">
          <li *ngIf="!isLoggedIn()">
            <a (click)="navigateToLogin()">Login</a>
          </li>
          <li *ngIf="!isLoggedIn()">
            <a (click)="navigateToSignUp()">Sign Up</a>
          </li>
          <li *ngIf="isLoggedIn()">
            <a (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
