<div class="my-12">
  <!--  image-->
  <div class="h-60">
    <img
      src="assets/sample-image.jpg"
      alt="Image Description"
      class="w-full h-full object-cover rounded-lg" />
  </div>
  <!--  article content-->
  <div class="flex flex-col space-y-3 pt-3">
    <!--    tag list will be rendered here-->
    <div>
      <app-tag></app-tag>
    </div>

    <p
      class="font-notoSerif text-[26px] font-semibold line-clamp-4 overflow-hidden break-all">
      Example blog post title Example blog post title Example blog post
      titlesadadadasdadasdsdsdsdsdsadasdasdadasdadasdasda asdhasdhasdhaasdgsadga
      asdjasjda
    </p>
    <p
      class="font-atkinson text-[16px] text-gray-500 leading-7 line-clamp-3 overflow-hidden break-all">
      Example blog post description Example blog post description Example blog
      post descriptionasdgagdagd asdadhgasdhahda asghdagd post
      descriptionasdgagdagd asdadhgasdhahda asghdagd post descriptionasdgagdagd
      asdadhgasdhahda asghdagd
    </p>
    <div class="flex flex-row items-center gap-x-4">
      <img
        src="assets/sample-image.jpg"
        alt="Image Description"
        class="w-12 h-12 object-cover rounded-full" />
      <div>
        <p class="font-notoSerif font-semibold">Abdülrezzak</p>
        <p class="text-[12px] text-gray-600">11 Nov 2023</p>
      </div>
    </div>
  </div>
</div>
