<div *ngIf="isLoading">
  <app-loading-overlay [twColor]="spinnerColor || 'border-blue-400'"></app-loading-overlay>
</div>

<div class="flex flex-col">
  <div class="flex flex-col gap-y-6 mt-20 px-32">
    <div class="w-full flex flex-col gap-y-2">
      <h2 class="font-atkinson font-bold text-xl">Title</h2>
      <input
        [(ngModel)]="title"
        class="h-10 w-full font-sans rounded-md border-gray-300 border-[1px] px-3" />
    </div>
    <div class="flex flex-col gap-y-2">
      <h2 class="font-atkinson font-bold text-xl">Content</h2>
      <quill-editor
        [(ngModel)]="content"
        (onEditorCreated)="getEditorInstance($event)"
        format="html"
        class="quill-editor w-full font-sans"></quill-editor>
    </div>

    <div class="flex flex-row justify-end gap-x-6">
      <button hlmBtn (click)="cancelHandler()" variant="destructive">Cancel</button>
      <button *ngIf="draft" size="lg" hlmBtn variant="outline" (click)="updateHandler(true)">
        Publish
      </button>
      <button hlmBtn (click)="updateHandler(false)">Update</button>
    </div>
  </div>
</div>
