<div class="flex flex-row gap-x-12 px-32">
  <div class="w-1/2 flex items-center justify-center overflow-hidden relative">
    <img
      src="assets/sample-image.jpg"
      alt="Image Description"
      class="w-full h-full absolute object-cover rounded-lg" />
  </div>
  <div class="flex flex-col space-y-4 w-1/2">
    <p class="font-notoSerif text-[42px] font-semibold line-clamp-4 overflow-hidden break-all">
      "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
      velit..."
    </p>
    <p
      class="font-atkinson text-[16px] text-gray-500 leading-7 line-clamp-3 overflow-hidden break-all">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus convallis lacus quam, sit
      amet viverra justo fermentum sit amet. Morbi dignissim auctor lectus, at imperdiet libero.
      Fusce accumsan vehicula mi, fermentum blandit turpis. Vestibulum vestibulum malesuada velit.
      Praesent tincidunt turpis nisl, vitae ultricies nisi sollicitudin at. Quisque pulvinar non ex.
    </p>
    <div class="flex flex-row items-center gap-x-4">
      <img
        src="assets/sample-image.jpg"
        alt="Image Description"
        class="w-12 h-12 object-cover rounded-full" />
      <div>
        <p class="font-notoSerif font-semibold">Abdülrezzak</p>
        <p class="text-[12px] text-gray-500">11 Nov 2023</p>
      </div>
    </div>
  </div>
</div>
