<ng-container *ngIf="blogPost">
  <div class="flex justify-center">
    <div class="max-w-[700px] flex flex-col pt-10 pb-20">
      <div>
        <h1 class="font-notoSerif text-3xl text-center">
          {{ blogPost.title }}
        </h1>
      </div>
      <div>
        <quill-view-html
          class="font-atkinson text-lg text-center text-gray-500 leading-8"
          [content]="blogPost.content"
          theme="snow"></quill-view-html>
      </div>
    </div>
  </div>
  <button hlmBtn (click)="navigateToEdit()">Edit</button>
  <app-footer></app-footer>
</ng-container>
